{:blocks (
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "64cd0b27-9615-4aa4-9a89-6379dfd3511c"}
:block/parent 
{:block/uuid #uuid "64cd0b27-9615-4aa4-9a89-6379dfd3511c"}
:block/properties 
{}
:block/uuid #uuid "64cd0b5d-87ed-4d2c-bc9f-a8d9dfbf9ecb"} 
{:block/content "| \n |     外汇   | \n|"
:block/format :markdown
:block/left 
{:block/uuid #uuid "64cd0b5d-87ed-4d2c-bc9f-a8d9dfbf9ecb"}
:block/parent 
{:block/uuid #uuid "64cd0b27-9615-4aa4-9a89-6379dfd3511c"}
:block/uuid #uuid "64cd0b7a-eedb-4fb6-93eb-64d2b5d428a1"} 
{:block/content "| \n |     货币黄金  | \n|"
:block/format :markdown
:block/left 
{:block/uuid #uuid "64cd0b7a-eedb-4fb6-93eb-64d2b5d428a1"}
:block/parent 
{:block/uuid #uuid "64cd0b27-9615-4aa4-9a89-6379dfd3511c"}
:block/uuid #uuid "64cd0b7a-f124-4b49-8176-c7baf119a58d"} 
{:block/content "| \n |     其他国外资产   | \n|"
:block/format :markdown
:block/left 
{:block/uuid #uuid "64cd0b7a-f124-4b49-8176-c7baf119a58d"}
:block/parent 
{:block/uuid #uuid "64cd0b27-9615-4aa4-9a89-6379dfd3511c"}
:block/uuid #uuid "64cd0b7a-a15c-490e-86ac-2aaa2c5d3b3a"})
:pages (
{:block/uuid #uuid "64cd0b27-9615-4aa4-9a89-6379dfd3511c"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "64cd0b27-9615-4aa4-9a89-6379dfd3511c"
:name "64cd0b27-9615-4aa4-9a89-6379dfd3511c"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ()}}
:block/updated-at 1691159438764
:block/created-at 1691159335633
:block/type "whiteboard"
:block/name "64cd0b27-9615-4aa4-9a89-6379dfd3511c"
:block/original-name "64cd0b27-9615-4aa4-9a89-6379dfd3511c"})}